<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.zerock.mapper.BoardMapper">

<select id="getList" resultType="org.zerock.domain.BoardVO">
<![CDATA[
	select * from tbl_board where bno > 0
]]>
</select>

<insert id="insert">
	insert into tbl_board (bno, title, content, writer)
	values (seq_board.nextval, #{title}, #{content}, #{writer})
</insert>

<insert id="insertSelectKey">
	<selectKey keyProperty="bno" order="BEFORE" resultType="long">
		select seq_board.nextval from dual
	</selectKey>
	insert into tbl_board (bno, title, content, writer)
	values (#{bno}, #{title}, #{content}, #{writer})
</insert>

<select id="read" resultType="org.zerock.domain.BoardVO">
	select * from tbl_board where bno = #{bno}
</select>

<delete id="delete">
	delete from tbl_board where bno = #{bno}
</delete>

<update id="update">
	update tbl_board
	set title = #{title},
	content =  #{content},
	writer = #{writer},
	updateDate = sysdate
	where bno = #{bno}
</update>


<!-- <sql>태그를 이용한 SQL일부 보관(검색 처리) -->
<sql id="criteria">
	<trim prefix="(" suffix=") AND " prefixOverrides="OR">
		<foreach item='type' collection="typeArr">
			<trim prefix="OR">
				<choose>
					<when test="type == 'T'.toString()">
						title like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'C'.toString()">
						content like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'W'.toString()">
						writer like '%'||#{keyword}||'%'
					</when>
				</choose>
			</trim>
		</foreach>
	</trim>
</sql>


<select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
	<![CDATA[
		SELECT bno, title, content, writer, regdate, updatedate
		FROM(
			SELECT /*+ INDEX_DESC(tbl_board, pk_board) */
				ROWNUM rn, bno, title, content, writer, regdate, updatedate
			FROM tbl_board 
			WHERE
	]]>
	
	<include refid="criteria"></include>
			
	<![CDATA[
			ROWNUM <= #{pageNum} * #{amount}
			)
		WHERE rn > (#{pageNum} - 1) * #{amount}
	]]>
</select>

<!-- <select id="getTotalCount" resultType="int">
	select count(*) from tbl_board where bno > 0
</select> -->

<select id="getTotalCount" resultType="int">
    select count(*) from tbl_board where 
    
    <include refid="criteria"></include>
    
    bno > 0
</select>


</mapper>