#result {
    display: none;
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

.resultName {
    font-size: 20px;
}

.resultDesc {
    font-size: 20px;
}

.kakao {
    color: darkblue;
    background-color: #FEE500;
    font-size: 20px;
    border: 0px;
    border-radius: 15px;
}

.kakao:hover, .kakao:focus {
    background-color: whitesmoke;
    color: darkblue;
}