<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ReplyMapper">
	<insert id="insert">
		INSERT INTO tbl_reply (rno, bno, reply, replyer)
		VALUES (seq_reply.nextval, #{bno}, #{reply}, #{replyer})
	</insert>
	
	<select id="read" resultType="org.zerock.domain.ReplyVO">
		SELECT * FROM tbl_reply WHERE rno = #{rno}
	</select>
	
	<delete id="delete">
		DELETE FROM tbl_reply WHERE rno = #{rno}
	</delete>
	
	<update id="update">
		UPDATE tbl_reply SET reply = #{reply}, updatedate = sysdate
		WHERE rno = #{rno}
	</update>
	
	<select id="getListWithPaging" resultType="org.zerock.domain.ReplyVO">
	<![CDATA[
		select rno, bno, reply, replyer, replydate, updatedate
		from
		(
			select /*+INDEX(tbl_reply idx_reply) */
				rownum rn, rno, bno, reply, replyer, replyDate, updatedate
			FROM tbl_reply
			WHERE bno = #{bno} AND rno>0 AND rownum <= #{cri.pageNum} * #{cri.amount}	
		) WHERE rn > (#{cri.pageNum} -1) * #{cri.amount}
	]]>
	</select>
	
	
	<select id="getCountByBno" resultType="int">
		<![CDATA[
		select count(rno) from tbl_reply where bno = #{bno}
		]]>
	</select>
</mapper>