<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
  <th:block th:fragment="content">
    <h1 class="mt-4">Guestbook Read Page</h1>

    <div class="form-group">
      <label >번호</label>
      <input type="text" class="form-control" name="gno" th:value="${dto.gno}" readonly>
    </div>

    <div class="form-group">
      <label >제목</label>
      <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
    </div>

    <div class="form-group">
      <label >내용</label>
      <textarea class="form-control" rows="5" name="content" readonly>[[${dto.content}]]</textarea>
    </div>

    <div class="form-group">
      <label >작성자</label>
      <input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
    </div>

    <div class="form-group">
      <label >작성일자</label>
      <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
    </div>

    <div class="form-group">
      <label >수정일자</label>
      <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
    </div>

    <a th:href="@{/guestbook/modify(gno = ${dto.gno}, page = ${requestDto.page},
    type = ${requestDto.type}, keyword = ${requestDto.keyword} )}">
      <button type="button" class="btn btn-primary">Modify</button>
    </a>

    <a th:href="@{/guestbook/list(page = ${requestDto.page},
    type = ${requestDto.type}, keyword = ${requestDto.keyword} )}">
      <button type="button" class="btn btn-info">List</button>
    </a>

  </th:block>
</th:block>